@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/montserrat-semi-bold.ttf");
}

.grid-container {
    display: grid;
    grid-template-columns: 5% repeat(4, 1fr) 5%;
    grid-template-rows: 17% 1fr 12%;
}

.header {
    display: grid;
    grid-area: 1/2/2/6;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.header__logo {
    width: 38%;
}

.header__menu {
    justify-self: end;
    align-self: center;
    width: 71%;
}

.header__menu a:nth-last-child(-n+2) {
    margin-left: 24%;
}

.header__menu a:nth-child(odd) {
    color: #6D6D6D;
}

.header__menu a:nth-child(even) {
    color: blue;
}

.main {
    display: grid;
    grid-area: 2/2/3/6;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 3%;
}

.main__img {
    width: 90%;
}

.footer {
    display: grid;
    grid-area: 3/2/4/6;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
}

.footer__nav {
    grid-column: 2/4;
    justify-self: center;
    width: 66%;
}

.footer__nav a:nth-last-child(-n+2) {
    margin-left: 28%;
}

.footer__tel {
    justify-self: end;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
}

.header__menu,
.footer__info,
.footer__nav,
.footer__tel {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
}

.header__menu,
.footer__info {
font-size: 16px;
}

footer span {
    color: #CECECE;
}

footer .footer__nav a {
    font-size: 14px;
    color: #686868;
}

a {
    text-decoration: none;
}